img.img-profile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center center;
}

img.img-post {
    max-width: 100%;
    max-height: 400px;
    object-fit: scale-down;
    object-position: center center;
}
