<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% load static %}
    <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'icon/global.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid w-75">
        <a class="navbar-brand" href="{% url 'blog:home' %}">خانه</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:bests' %}">برگزیده‌ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-md-none" href="{% url 'blog:categories' %}">دسته‌بندی</a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link" href="{% url 'blog:tags' %}">تگ‌ها</a>
                </li>
            </ul>
            <form class="d-flex mx-5" action="{% url 'blog:search' %}" method="get">
                <input name="input" class="form-control me-2" type="search" placeholder="جست‌و‌جو">
                <button class="btn btn-outline-light" type="submit">جست‌و‌جو</button>
            </form>
            <div class="d-flex justify-content-end my-3 my-md-auto mx-5 mx-md-0">
                {% if user.is_authenticated %}
                {% if user.image %}
                <img class="img-profile rounded-circle border border-light mx-2" src="/media/{{ user.image }}">
                {% else %}
                <img class="img-profile rounded-circle border border-light mx-2" src="/media/profile/user.jpg">
                {% endif %}
                <div class="btn-group rounded" role="group">
                    <a type="button" class="btn btn-outline-light border-end">{{ user.username }}</a>
                    <a type="button" class="btn btn-outline-light border-start" href="{% url 'blog:logout' %}">خروج</a>
                </div>
                {% else %}
                <div class="btn-group rounded" role="group">
                    <a type="button" class="btn btn-outline-light" href="{% url 'accounts:login' %}">ورود</a>
                    <a type="button" class="btn btn-outline-light" href="{% url 'accounts:signup' %}">عضویت</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="w-75 mx-auto mt-5 pt-4 row">
        {% block sidebar %}
        <nav id="sidebarMenu" class="d-none d-md-block col-md-4 sidebar collapse">
            <div class="position-sticky">
                <div class="p-3 border border-2 rounded-3 bg-light">
                    <h5 class="sidebar-heading d-flex justify-content-between align-items-center text-muted">دسته‌بندی‌ها:</h5>
                    <ul class="nav flex-column">
                        {% if parent %}
                        <li class="nav-item">
                            <a class="nav-link d-inline-block btn btn-outline-secondary border border-light" href="{% url 'blog:category' parent.parent %}" data-bs-toggle="tooltip" title="{{ parent.name }}">
                                بازگشت به دسته‌بندی پدر
                            </a>
                        </li>
                        {% endif %}
                        {% for category in categories reversed %}
                        <li class="nav-item">
                            <a class="nav-link d-inline-block btn btn-outline-secondary border border-light {% if category.name == post.category.name %}active{% endif %}" href="{% url 'blog:category' category.name %}" data-bs-toggle="tooltip" title="{{ category.name }}">
                                {{ category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="p-3 border border-2 rounded-3 mt-2 bg-light">
                    <h5 class="sidebar-heading d-flex justify-content-between align-items-center text-muted">تگ‌ها:</h5>
                    {% for tag in tags %}
                    <a class="nav-link d-inline-block btn btn-outline-secondary mb-1 {% if tag.name == specific_tag.name %}active{% endif %}" href="{% url 'blog:tag' tag.name %}" data-bs-toggle="tooltip" title="{{ tag.name }}">
                        {{ tag.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        {% endblock %}

        {% block body %}
        {% load jalali %}
        {% load opinion %}
        <div class="col-12 col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
            {% endif %}

            {% for post in posts %}
            <div class="card mb-3">
                <a href="{% url 'blog:post' post.id %}">
                    <div class="text-center bg-light">
                        {% if post.image %}
                        <img src="/media/{{ post.image }}" class="img-post">
                        {% else %}
                        <img src="{% static 'icon/No-image-available.jpg' %}" class="img-post">
                        {% endif %}
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title | truncatewords:12 }}</h5>
                    <p class="card-text">{{ post.text | truncatewords:40 | linebreaks }}</p>
                    {% for tag in post.tags.all %}
                    <a class="btn btn-outline-secondary mb-2" href="{% url 'blog:tag' tag.name %}" data-bs-toggle="tooltip" title="{{ tag.name }}">
                        {{ tag.name }}
                    </a>
                    {% endfor %}
                    <br/>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted my-auto">
                            نوشته شده توسط:
                            <a class="btn-outline-secondary text-decoration-none p-2 rounded" href="{% url 'blog:posts_of' post.creator.username %}">{{ post.creator.username }}</a>
                            {{ post.create_datetime | to_jalali }}
                        </small>
                        {% if user.is_authenticated %}
                        <div class="btn-group btn-group-sm parent" role="group">
                            <button class="btn btn-outline-success opinion{{ user | post_like:post }}" id="like post {{ post.id }}" href="">
                                <img src="{% static 'icon/like.svg' %}" class="img-like">
                                <span class="badge bg-light text-dark">{{ post.like_qty }}</span>
                            </button>
                            <button class="btn btn-outline-danger border-start opinion{{ user | post_dislike:post }}" id="dislike post {{ post.id }}" href="">
                                <img src="{% static 'icon/dislike.svg' %}" class="img-like">
                                <span class="badge bg-light text-dark">{{ post.dislike_qty }}</span>
                            </button>
                        </div>
                        {% else %}
                        <div class="btn-group btn-group-sm" role="group">
                            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#enter-popup">
                                <img src="{% static 'icon/like.svg' %}" class="img-like">
                                <span class="badge bg-light text-dark">{{ post.like_qty }}</span>
                            </button>
                            <button class="btn btn-outline-danger border-start" data-bs-toggle="modal" data-bs-target="#enter-popup">
                                <img src="{% static 'icon/dislike.svg' %}" class="img-like">
                                <span class="badge bg-light text-dark">{{ post.dislike_qty }}</span>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endblock %}

        {% if user.is_authenticated %}
        {% csrf_token %}
        {% else %}
        <div class="modal fade" id="enter-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-light bg-gradient">
                        <h5 class="modal-title" id="staticBackdropLabel">عضویت در سایت</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        برای ثبت پسندیدن و یا نپسندیدن یک مطلب بایستی در عضو سایت شده و یا به حساب کاربری خود وارد شوید.
                    </div>
                    <div class="modal-footer bg-light bg-gradient">
                        <div class="btn-group rounded" role="group">
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'accounts:login' %}">ورود</a>
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'accounts:signup' %}">عضویت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<footer class="w-100 mx-auto"></footer>
</body>
{% block script %}
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/script.js' %}"></script>
{% endif %}
</html>
